html {
    scroll-behavior: smooth;
}

/* set the background for the body of the text */
body {
    /* background-color: rgb(247, 202, 201); */
    background-color: beige;
    /* background-image: url("../images/concrete_seamless.png"); */
}


/* set the size of logo and make the pic circular */
#logo {
    width: 8%;
    border-radius: 50%;
    padding: 2px;
}

/* make the header into a grid, and make it flow into one column */

header {
    display: grid;
    grid-auto-flow: column; 
}

/* set the nav bar to be an inline-grid itself */
nav ul {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 22px;
}

/* affects the text of the diff nav options */

nav a {
    color: black;
    /* font-weight: bold; */
    text-decoration: none; 
}

/* if mouse hover on a text in nav, then it underlines */

nav a:hover {
    font-weight: bold;
    /* color: lightseagreen; */
    color: #36454F;
}

/* sets the button of the nav items to have oval around it */

.nav_item {
    font-size: 20px;;
    display: block;
    padding: 5px;
    /* border: 2px solid black; */
    border-radius: 50px;
}

/* put nav buttons to the right */

nav{
    text-align: right;
  }

/* put h1 in middle */

/* .main {
    border: 1px solid black;
} */

main h1 {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

main p {
    text-align: center;
    font-size: 18px;
}

/* implement skip to main content */

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

/* implement skip to main content */

.skip a{
    position: absolute;
    top: -40px;
}

/* implement skip to main content */

.skip a:focus {
    position: absolute;
    top: 20px;
}

/* implement skip to main content */

*.focus {
    border: 2px solid;
}

footer {
    text-align: left;
}

.socials_grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-self: left;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: black;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    background-color: white;   
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}


footer p {
    text-align: right;
    color: #36454F;
}

.icon {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.icon:hover {
    opacity: 0.7;
}

.pic_gallery {
    /* border: 3px solid black; */
    /* width: 50%; */
    margin: 10px auto;
    /* background-color: blanchedalmond; */


    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
    align-items: center;
}

.pic_gallery img{
    border-radius: 25%;
    padding: 20px;
    /* border: 10px solid firebrick; */
}

.about_gallery {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
}